todo {
    background: url('https://w7.pngwing.com/pngs/780/879/png-transparent-post-it-note-paper-link-free-sticky-notes-post-it-yellow-note-paper-miscellaneous-rectangle-material.png') no-repeat fixed center center/coverd;

    min-width: 200px;
    min-height: 200px;
}