.todo {
    display: flex;
    justify-content: center;
    align-items: center;

    background: url(https://w7.pngwing.com/pngs/780/879/png-transparent-post-it-note-paper-link-free-sticky-notes-post-it-yellow-note-paper-miscellaneous-rectangle-material.png) no-repeat center center/cover;
    
    width: 15vw;
    height: 30vh;
    background-color: grey;
    margin: 0.5rem;
}